chanleydf/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "chanleydf"
		},
		"AzureBlobStorage1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage1'"
		},
		"DataLake2_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'DataLake2'"
		},
		"Names_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Names'"
		},
		"adf_datasets_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'adf_datasets'"
		},
		"chanley54Synapse_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'chanley54Synapse'"
		},
		"chanley54_Synapse_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'chanley54_Synapse'"
		},
		"chanleypool_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'chanleypool'"
		},
		"chanleysvc_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'chanleysvc'"
		},
		"databrickslinkedservice_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'databrickslinkedservice'"
		},
		"jsonstorage_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'jsonstorage'"
		},
		"miscparquest_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'miscparquest'"
		},
		"DataLake2_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://chanleystghir.dfs.core.windows.net"
		},
		"adf_datasets_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://management.azure.com/subscriptions/a192e78c-6b15-4954-b587-3cce7c28eb26/resourceGroups/chanley_rg/providers/Microsoft.DataFactory/factories/chanleydf/datasets?api-version=2018-06-01"
		},
		"adf_datasets_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "chris_hanley"
		},
		"chanleystorage2_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://chanleystghir.dfs.core.windows.net"
		},
		"jsonstorage_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://chanleysg.dfs.core.windows.net"
		},
		"miscparquest_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://chanleysg.dfs.core.windows.net"
		},
		"rest_data_sets_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://management.azure.com"
		},
		"rest_data_sets_properties_typeProperties_aadResourceId": {
			"type": "string",
			"defaultValue": "https://management.azure.com"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl_Email')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Fail1",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-88.eastus.logic.azure.com:443/workflows/d3adf52e1bd54dfe8d854600ce854288/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=xLhqhyPwDtudefGdPqodWZ1qk3fgcZ7EGp7n5IYTuZQ",
							"method": "POST",
							"headers": {},
							"body": {
								"message": "Blah Blah Blah This is a custom dynamic message from your pipeline with run ID @{pipeline().RunId}.",
								"dataFactoryName": "@{pipeline().DataFactory}",
								"pipelineName": "@{pipeline().Pipeline}",
								"receiver": "@{pipeline().parameters.receiver}"
							}
						}
					},
					{
						"name": "Fail1",
						"type": "Fail",
						"dependsOn": [],
						"userProperties": [
							{
								"name": "name",
								"value": "Chris"
							},
							{
								"name": "business owner",
								"value": "AJ"
							}
						],
						"typeProperties": {
							"message": "I failed",
							"errorCode": "322"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"receiver": {
						"type": "string",
						"defaultValue": "chris.hanley@catapultsystems.com"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataLake2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('DataLake2_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('DataLake2_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Names')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('Names_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/adf_datasets')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('adf_datasets_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('adf_datasets_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('adf_datasets_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/chanley54Synapse')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('chanley54Synapse_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/chanley54_Synapse')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('chanley54_Synapse_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/chanleypool')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('chanleypool_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/chanleystorage2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('chanleystorage2_properties_typeProperties_url')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/chanleysvc')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('chanleysvc_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/databrickslinkedservice')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-4430222745813530.10.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('databrickslinkedservice_accessToken')]"
					},
					"existingClusterId": "0530-195028-quack609"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/jsonstorage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('jsonstorage_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('jsonstorage_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/miscparquest')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('miscparquest_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('miscparquest_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/rest_data_sets')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('rest_data_sets_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "ManagedServiceIdentity",
					"aadResourceId": "[parameters('rest_data_sets_properties_typeProperties_aadResourceId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/IR30Minutes')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 30
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TTL10minutesIR')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"description": "Azure IR with a 10 minute TTL",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 10
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/child_param')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "insert_B",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[insert_B]",
							"storedProcedureParameters": {
								"item": {
									"value": {
										"value": "@pipeline().parameters.item",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "chanleysvc",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"item": {
						"type": "string",
						"defaultValue": "@pipeline().parameters.item"
					}
				},
				"folder": {
					"name": "chanley"
				},
				"annotations": [],
				"lastPublishTime": "2020-08-12T16:45:03Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/chanleysvc')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADF_ACTIVITIES')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "chanleysvc",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "misc"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "adf",
					"table": "ADF_ACTIVITES"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/chanleysvc')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADF_DataSets')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "chanleysvc",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "misc"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "nvarchar"
					},
					{
						"name": "name",
						"type": "nvarchar"
					},
					{
						"name": "type",
						"type": "nvarchar"
					},
					{
						"name": "referenceName",
						"type": "nvarchar"
					},
					{
						"name": "referenceType",
						"type": "nvarchar"
					},
					{
						"name": "folderName",
						"type": "nvarchar"
					},
					{
						"name": "folderAnnotations",
						"type": "nvarchar"
					},
					{
						"name": "folderType",
						"type": "nvarchar"
					},
					{
						"name": "schemaName",
						"type": "nvarchar"
					},
					{
						"name": "schemaType",
						"type": "nvarchar"
					},
					{
						"name": "schemaPrecision",
						"type": "nvarchar"
					},
					{
						"name": "typeSchema",
						"type": "nvarchar"
					},
					{
						"name": "typeTable",
						"type": "nvarchar"
					},
					{
						"name": "eTag",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "adf",
					"table": "ADF_DATA_SETS"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/chanleysvc')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Avro1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataLake2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Avro",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "userdata1.avro",
						"folderPath": "raw/avro",
						"fileSystem": "ingest"
					},
					"avroCompressionCodec": "snappy",
					"avroCompressionLevel": 1
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataLake2')]"
			]
		}
	]
}