chanleydf/linkedTemplates/ArmTemplate_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "chanleydf"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/boohoo')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "jsonstorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "boohoo.txt",
						"folderPath": "json",
						"fileSystem": "chanleyblob"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/copyActJSON')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "miscparquest",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "misc"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "blah.json",
						"folderPath": "json",
						"fileSystem": "chanleyblob"
					}
				},
				"schema": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/cth_Dataset_target')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "chanleysvc",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "nvarchar"
					},
					{
						"name": "name",
						"type": "nvarchar"
					},
					{
						"name": "type",
						"type": "nvarchar"
					},
					{
						"name": "LS_referenceName",
						"type": "nvarchar"
					},
					{
						"name": "LS_type",
						"type": "nvarchar"
					},
					{
						"name": "folder_name",
						"type": "nvarchar"
					},
					{
						"name": "folder_items",
						"type": "nvarchar"
					},
					{
						"name": "folder_type",
						"type": "nvarchar"
					},
					{
						"name": "location_type",
						"type": "nvarchar"
					},
					{
						"name": "fileName",
						"type": "nvarchar"
					},
					{
						"name": "folderPath",
						"type": "nvarchar"
					},
					{
						"name": "fileSystem",
						"type": "nvarchar"
					},
					{
						"name": "compressionCodec",
						"type": "nvarchar"
					},
					{
						"name": "schema_name",
						"type": "nvarchar"
					},
					{
						"name": "schema_type",
						"type": "nvarchar"
					},
					{
						"name": "etag",
						"type": "nvarchar"
					},
					{
						"name": "nextLink",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "adf",
					"table": "CTH_Dataset_target"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/datasetJSON')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "miscparquest",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"fileName": {
						"type": "string"
					},
					"SinkContainer": {
						"type": "string"
					},
					"SinkDirectory": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ADF"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().fileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().SinkDirectory",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().SinkContainer",
							"type": "Expression"
						}
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"value": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"id": {
										"type": "string"
									},
									"name": {
										"type": "string"
									},
									"type": {
										"type": "string"
									},
									"properties": {
										"type": "object",
										"properties": {
											"linkedServiceName": {
												"type": "object",
												"properties": {
													"type": {
														"type": "string"
													},
													"referenceName": {
														"type": "string"
													}
												}
											},
											"annotations": {
												"type": "array"
											},
											"type": {
												"type": "string"
											},
											"typeProperties": {
												"type": "object",
												"properties": {
													"fileName": {
														"type": "string"
													},
													"folderPath": {
														"type": "string"
													}
												}
											}
										}
									},
									"etag": {
										"type": "string"
									}
								}
							}
						},
						"nextLink": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/datasetPIPE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "miscparquest",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ADF"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "dataset.txt",
						"folderPath": "json",
						"fileSystem": "chanleyblob"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": ""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/datasetnames')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "jsonstorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "blah.json",
						"folderPath": "json",
						"fileSystem": "chanleyblob"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"id": {
							"type": "string"
						},
						"name": {
							"type": "string"
						},
						"type": {
							"type": "string"
						},
						"properties": {
							"type": "object",
							"properties": {
								"linkedServiceName": {
									"type": "object",
									"properties": {
										"referenceName": {
											"type": "string"
										},
										"type": {
											"type": "string"
										}
									}
								},
								"annotations": {
									"type": "array"
								},
								"type": {
									"type": "string"
								},
								"schema": {
									"type": "array",
									"items": {
										"type": "object",
										"properties": {
											"name": {
												"type": "string"
											},
											"type": {
												"type": "string"
											}
										}
									}
								},
								"typeProperties": {
									"type": "object",
									"properties": {
										"schema": {
											"type": "string"
										},
										"table": {
											"type": "string"
										}
									}
								}
							}
						},
						"etag": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/jsonpipeline')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "miscparquest",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "misc"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "PipeLinesByFactory.json",
						"folderPath": "json",
						"fileSystem": "chanleyblob"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"value": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"id": {
										"type": "string"
									},
									"name": {
										"type": "string"
									},
									"type": {
										"type": "string"
									},
									"properties": {
										"type": "object",
										"properties": {
											"activities": {
												"type": "array",
												"items": {
													"type": "object",
													"properties": {
														"name": {
															"type": "string"
														},
														"type": {
															"type": "string"
														},
														"dependsOn": {
															"type": "array"
														},
														"policy": {
															"type": "object",
															"properties": {
																"timeout": {
																	"type": "string"
																},
																"retry": {
																	"type": "integer"
																},
																"retryIntervalInSeconds": {
																	"type": "integer"
																},
																"secureOutput": {
																	"type": "boolean"
																},
																"secureInput": {
																	"type": "boolean"
																}
															}
														},
														"userProperties": {
															"type": "array"
														},
														"typeProperties": {
															"type": "object",
															"properties": {
																"dataflow": {
																	"type": "object",
																	"properties": {
																		"referenceName": {
																			"type": "string"
																		},
																		"type": {
																			"type": "string"
																		},
																		"parameters": {
																			"type": "object"
																		},
																		"datasetParameters": {
																			"type": "object",
																			"properties": {
																				"srcTableA": {
																					"type": "object"
																				},
																				"tgtTableB": {
																					"type": "object"
																				}
																			}
																		}
																	}
																},
																"staging": {
																	"type": "object"
																},
																"integrationRuntime": {
																	"type": "object",
																	"properties": {
																		"referenceName": {
																			"type": "string"
																		},
																		"type": {
																			"type": "string"
																		}
																	}
																}
															}
														}
													}
												}
											},
											"folder": {
												"type": "object",
												"properties": {
													"name": {
														"type": "string"
													}
												}
											},
											"annotations": {
												"type": "array"
											},
											"lastPublishTime": {
												"type": "string"
											}
										}
									},
									"etag": {
										"type": "string"
									}
								}
							}
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sqlgeneric')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "chanleysvc",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"schema": {
						"type": "string",
						"defaultValue": "test"
					},
					"tablename": {
						"type": "string",
						"defaultValue": "test"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "FirstName",
						"type": "varchar"
					},
					{
						"name": "LastName",
						"type": "varchar"
					},
					{
						"name": "Street",
						"type": "varchar"
					},
					{
						"name": "City",
						"type": "varchar"
					},
					{
						"name": "State",
						"type": "varchar"
					},
					{
						"name": "Zip",
						"type": "varchar"
					},
					{
						"name": "Load_Date",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": {
						"value": "@dataset().schema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().tablename",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/srcSKU')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "chanleysvc",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "misc"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ItemName",
						"type": "varchar"
					},
					{
						"name": "ItemSkew",
						"type": "varchar"
					},
					{
						"name": "DatePurchase",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "DateReturned",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "cost",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "DateLoaded",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "DateUpdated",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "DateDeleted",
						"type": "datetime2",
						"scale": 7
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "srcTableA"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/srcTableA')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "chanleysvc",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Upserts"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ItemName",
						"type": "varchar"
					},
					{
						"name": "ItemSkew",
						"type": "varchar"
					},
					{
						"name": "DatePurchase",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "DateReturned",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "cost",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "DateLoaded",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "DateUpdated",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "DateDeleted",
						"type": "datetime2",
						"scale": 7
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "srcTableA"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/srcTrigger')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "miscparquest",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FileName": {
						"type": "string",
						"defaultValue": "@pipeline().parameters.SourceFile"
					}
				},
				"folder": {
					"name": "misc"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"folderPath": "Trigger",
						"fileSystem": "chanleyblob"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "registration_dttm",
						"type": "INT96"
					},
					{
						"name": "id",
						"type": "INT32"
					},
					{
						"name": "first_name",
						"type": "UTF8"
					},
					{
						"name": "last_name",
						"type": "UTF8"
					},
					{
						"name": "email",
						"type": "UTF8"
					},
					{
						"name": "gender",
						"type": "UTF8"
					},
					{
						"name": "ip_address",
						"type": "UTF8"
					},
					{
						"name": "cc",
						"type": "UTF8"
					},
					{
						"name": "country",
						"type": "UTF8"
					},
					{
						"name": "birthdate",
						"type": "UTF8"
					},
					{
						"name": "salary",
						"type": "DOUBLE"
					},
					{
						"name": "title",
						"type": "UTF8"
					},
					{
						"name": "comments",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/src_chanley')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "chanleysvc",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tgtSKU')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "chanleysvc",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "misc"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ItemName",
						"type": "varchar"
					},
					{
						"name": "ItemSkew",
						"type": "varchar"
					},
					{
						"name": "DatePurchase",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "DateReturned",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "cost",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "DateLoaded",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "DateUpdated",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "DateDeleted",
						"type": "datetime2",
						"scale": 7
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tgtTableB"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tgtTableB')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "chanleysvc",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Upserts"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ItemName",
						"type": "varchar"
					},
					{
						"name": "ItemSkew",
						"type": "varchar"
					},
					{
						"name": "DatePurchase",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "DateReturned",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "cost",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "DateLoaded",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "DateUpdated",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "DateDeleted",
						"type": "datetime2",
						"scale": 7
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tgtTableB"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tgtTrigger')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "chanleysvc",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "chanley"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "registration_dttm",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "first_name",
						"type": "nvarchar"
					},
					{
						"name": "last_name",
						"type": "nvarchar"
					},
					{
						"name": "email",
						"type": "nvarchar"
					},
					{
						"name": "gender",
						"type": "nvarchar"
					},
					{
						"name": "ip_address",
						"type": "nvarchar"
					},
					{
						"name": "cc",
						"type": "nvarchar"
					},
					{
						"name": "country",
						"type": "nvarchar"
					},
					{
						"name": "birthdate",
						"type": "nvarchar"
					},
					{
						"name": "salary",
						"type": "float",
						"precision": 15
					},
					{
						"name": "title",
						"type": "nvarchar"
					},
					{
						"name": "comments",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "trigger"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Branching')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "RestResource",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "copyActJSON",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Aladdin"
				},
				"annotations": [],
				"lastPublishTime": "2020-08-27T20:39:50Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/copyActJSON')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Copy from REST connector into ADLS Gen2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyDataSets",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "GetBearerToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"additionalHeaders": {
									"Authorization": {
										"value": "@concat('Bearer ',activity('GetBearerToken').output.access_token)",
										"type": "Expression"
									}
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "RestResource",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SinkDataset",
								"type": "DatasetReference",
								"parameters": {
									"Container": {
										"value": "@pipeline().parameters.SinkContainer",
										"type": "Expression"
									},
									"Directory": {
										"value": "@pipeline().parameters.SinkDirectory",
										"type": "Expression"
									},
									"fileName": {
										"value": "@pipeline().parameters.fileName",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "GetBearerToken",
						"description": "Use this Web activity to get bearer token",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://login.microsoftonline.com/cat.onmicrosoft.com/oauth2/token",
							"method": "POST",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"body": "grant_type=client_credentials&client_id=b9f7e648-22a2-420c-b7df-a918d60ad785&resource=https://management.azure.com&client_secret=.9aZ_0IA6O_97iRU-es3ww6CzRtO_KON_O&tenant_id=d0659de2-684e-49bd-9b1f-1fd4cd0942d9\n"
						}
					},
					{
						"name": "CopyJsonDataSets",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopyDataSets",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "FlattenHierarchy"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['id']"
										},
										"sink": {
											"name": "id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['name']"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['type']"
										},
										"sink": {
											"name": "type",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['properties']['linkedServiceName']['referenceName']"
										},
										"sink": {
											"name": "referenceName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['properties']['linkedServiceName']['type']"
										},
										"sink": {
											"name": "referenceType",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['properties']['folder']['name']"
										},
										"sink": {
											"name": "folderName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['properties']['annotations']"
										},
										"sink": {
											"name": "folderAnnotations",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['properties']['type']"
										},
										"sink": {
											"name": "folderType",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['properties']['schema'][0]['name']"
										},
										"sink": {
											"name": "schemaName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['properties']['schema'][0]['type']"
										},
										"sink": {
											"name": "schemaType",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['properties']['schema'][0]['precision']"
										},
										"sink": {
											"name": "schemaPrecision",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['properties']['typeProperties']['schema']"
										},
										"sink": {
											"name": "typeSchema",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['properties']['typeProperties']['table']"
										},
										"sink": {
											"name": "typeTable",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['etag']"
										},
										"sink": {
											"name": "eTag",
											"type": "String"
										}
									}
								],
								"collectionReference": "$['value']",
								"mapComplexValuesToString": true
							}
						},
						"inputs": [
							{
								"referenceName": "datasetJSON",
								"type": "DatasetReference",
								"parameters": {
									"fileName": {
										"value": "@pipeline().parameters.fileName",
										"type": "Expression"
									},
									"SinkContainer": {
										"value": "@pipeline().parameters.SinkContainer",
										"type": "Expression"
									},
									"SinkDirectory": {
										"value": "@pipeline().parameters.SinkDirectory",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "datasetPIPE",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "SQLDataSets",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopyJsonDataSets",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "datasetPIPE",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ADF_DataSets",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"SinkContainer": {
						"type": "string",
						"defaultValue": "chanleyblob"
					},
					"SinkDirectory": {
						"type": "string",
						"defaultValue": "json"
					},
					"fileName": {
						"type": "string",
						"defaultValue": "blah.json"
					}
				},
				"annotations": [],
				"lastPublishTime": "2020-08-30T19:14:08Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/datasetJSON')]",
				"[concat(variables('factoryId'), '/datasets/datasetPIPE')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyActivities')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "copyActivitiesJSON",
						"description": " ",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "FlattenHierarchy"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['activityRunEnd']"
										},
										"sink": {
											"type": "String",
											"ordinal": 1
										}
									},
									{
										"source": {
											"path": "[['activityName']"
										},
										"sink": {
											"type": "String",
											"ordinal": 2
										}
									},
									{
										"source": {
											"path": "[['activityRunStart']"
										},
										"sink": {
											"type": "String",
											"ordinal": 3
										}
									},
									{
										"source": {
											"path": "[['activityType']"
										},
										"sink": {
											"type": "String",
											"ordinal": 4
										}
									},
									{
										"source": {
											"path": "[['durationInMs']"
										},
										"sink": {
											"type": "String",
											"ordinal": 5
										}
									},
									{
										"source": {
											"path": "[['retryAttempt']"
										},
										"sink": {
											"type": "String",
											"ordinal": 6
										}
									},
									{
										"source": {
											"path": "[['error']['errorCode']"
										},
										"sink": {
											"type": "String",
											"ordinal": 7
										}
									},
									{
										"source": {
											"path": "[['error']['message']"
										},
										"sink": {
											"type": "String",
											"ordinal": 8
										}
									},
									{
										"source": {
											"path": "[['error']['failureType']"
										},
										"sink": {
											"type": "String",
											"ordinal": 9
										}
									},
									{
										"source": {
											"path": "[['error']['target']"
										},
										"sink": {
											"ordinal": 10
										}
									},
									{
										"source": {
											"path": "[['error']['details']"
										},
										"sink": {
											"type": "String",
											"ordinal": 11
										}
									},
									{
										"source": {
											"path": "[['activityRunId']"
										},
										"sink": {
											"type": "String",
											"ordinal": 12
										}
									},
									{
										"source": {
											"path": "[['iterationHash']"
										},
										"sink": {
											"type": "String",
											"ordinal": 13
										}
									},
									{
										"source": {
											"path": "[['input']['source']['type']"
										},
										"sink": {
											"type": "String",
											"ordinal": 14
										}
									},
									{
										"source": {
											"path": "[['input']['source']['sqlReaderQuery']"
										},
										"sink": {
											"type": "String",
											"ordinal": 15
										}
									},
									{
										"source": {
											"path": "[['input']['source']['queryTimeout']"
										},
										"sink": {
											"type": "String",
											"ordinal": 16
										}
									},
									{
										"source": {
											"path": "[['input']['source']['partitionOption']"
										},
										"sink": {
											"type": "String",
											"ordinal": 17
										}
									},
									{
										"source": {
											"path": "[['input']['dataset']['referenceName']"
										},
										"sink": {
											"type": "String",
											"ordinal": 18
										}
									},
									{
										"source": {
											"path": "[['input']['dataset']['type']"
										},
										"sink": {
											"type": "String",
											"ordinal": 19
										}
									},
									{
										"source": {
											"path": "[['input']['dataset']['parameters']"
										},
										"sink": {
											"type": "String",
											"ordinal": 20
										}
									},
									{
										"source": {
											"path": "[['input']['firstRowOnly']"
										},
										"sink": {
											"type": "String",
											"ordinal": 21
										}
									},
									{
										"source": {
											"path": "[['linkedServiceName']"
										},
										"sink": {
											"type": "String",
											"ordinal": 22
										}
									},
									{
										"source": {
											"path": "[['output']['count']"
										},
										"sink": {
											"type": "String",
											"ordinal": 23
										}
									},
									{
										"source": {
											"path": "[['output']['value'][0]['server_name']"
										},
										"sink": {
											"type": "String",
											"ordinal": 24
										}
									},
									{
										"source": {
											"path": "[['output']['value'][0]['adhoc']"
										},
										"sink": {
											"type": "String",
											"ordinal": 25
										}
									},
									{
										"source": {
											"path": "[['output']['value'][0]['load_frequency']"
										},
										"sink": {
											"type": "String",
											"ordinal": 26
										}
									},
									{
										"source": {
											"path": "[['output']['value'][0]['src_type']"
										},
										"sink": {
											"type": "String",
											"ordinal": 27
										}
									},
									{
										"source": {
											"path": "[['output']['value'][0]['src_schema']"
										},
										"sink": {
											"type": "String",
											"ordinal": 28
										}
									},
									{
										"source": {
											"path": "[['output']['value'][0]['src_db']"
										},
										"sink": {
											"type": "String",
											"ordinal": 29
										}
									},
									{
										"source": {
											"path": "[['output']['value'][0]['src_name']"
										},
										"sink": {
											"type": "String",
											"ordinal": 30
										}
									},
									{
										"source": {
											"path": "[['output']['value'][0]['dst_type']"
										},
										"sink": {
											"type": "String",
											"ordinal": 31
										}
									},
									{
										"source": {
											"path": "[['output']['value'][0]['dst_name']"
										},
										"sink": {
											"type": "String",
											"ordinal": 32
										}
									},
									{
										"source": {
											"path": "[['output']['value'][0]['include_pipeline_flag']"
										},
										"sink": {
											"type": "String",
											"ordinal": 33
										}
									},
									{
										"source": {
											"path": "[['output']['value'][0]['process_type']"
										},
										"sink": {
											"type": "String",
											"ordinal": 34
										}
									},
									{
										"source": {
											"path": "[['output']['value'][0]['priority_lane']"
										},
										"sink": {
											"type": "String",
											"ordinal": 35
										}
									},
									{
										"source": {
											"path": "[['output']['value'][0]['pipeline_date']"
										},
										"sink": {
											"type": "String",
											"ordinal": 36
										}
									},
									{
										"source": {
											"path": "[['output']['value'][0]['pipeline_status']"
										},
										"sink": {
											"type": "String",
											"ordinal": 37
										}
									},
									{
										"source": {
											"path": "[['output']['value'][0]['dst_folder']"
										},
										"sink": {
											"type": "String",
											"ordinal": 38
										}
									},
									{
										"source": {
											"path": "[['output']['value'][0]['file_type']"
										},
										"sink": {
											"type": "String",
											"ordinal": 39
										}
									},
									{
										"source": {
											"path": "[['output']['value'][0]['last_modified_folder_date']"
										},
										"sink": {
											"type": "String",
											"ordinal": 40
										}
									},
									{
										"source": {
											"path": "[['output']['effectiveIntegrationRuntime']"
										},
										"sink": {
											"type": "String",
											"ordinal": 41
										}
									},
									{
										"source": {
											"path": "[['output']['billingReference']['activityType']"
										},
										"sink": {
											"type": "String",
											"ordinal": 42
										}
									},
									{
										"source": {
											"path": "[['output']['billingReference']['billableDuration'][0]['meterType']"
										},
										"sink": {
											"type": "String",
											"ordinal": 43
										}
									},
									{
										"source": {
											"path": "[['output']['billingReference']['billableDuration'][0]['duration']"
										},
										"sink": {
											"type": "String",
											"ordinal": 44
										}
									},
									{
										"source": {
											"path": "[['output']['billingReference']['billableDuration'][0]['unit']"
										},
										"sink": {
											"type": "String",
											"ordinal": 45
										}
									},
									{
										"source": {
											"path": "[['output']['durationInQueue']['integrationRuntimeQueue']"
										},
										"sink": {
											"type": "String",
											"ordinal": 46
										}
									},
									{
										"source": {
											"path": "[['userProperties']"
										},
										"sink": {
											"type": "String",
											"ordinal": 47
										}
									},
									{
										"source": {
											"path": "[['pipelineName']"
										},
										"sink": {
											"type": "String",
											"ordinal": 48
										}
									},
									{
										"source": {
											"path": "[['pipelineRunId']"
										},
										"sink": {
											"type": "String",
											"ordinal": 49
										}
									},
									{
										"source": {
											"path": "[['status']"
										},
										"sink": {
											"type": "String",
											"ordinal": 50
										}
									},
									{
										"source": {
											"path": "[['recoveryStatus']"
										},
										"sink": {
											"type": "String",
											"ordinal": 51
										}
									},
									{
										"source": {
											"path": "[['integrationRuntimeNames']"
										},
										"sink": {
											"type": "String",
											"ordinal": 52
										}
									},
									{
										"source": {
											"path": "[['executionDetails']['integrationRuntime'][0]['name']"
										},
										"sink": {
											"type": "String",
											"ordinal": 53
										}
									},
									{
										"source": {
											"path": "[['executionDetails']['integrationRuntime'][0]['type']"
										},
										"sink": {
											"type": "String",
											"ordinal": 54
										}
									},
									{
										"source": {
											"path": "[['executionDetails']['integrationRuntime'][0]['location']"
										},
										"sink": {
											"type": "String",
											"ordinal": 55
										}
									},
									{
										"source": {
											"path": "[['executionDetails']['integrationRuntime'][0]['nodes']"
										},
										"sink": {
											"type": "String",
											"ordinal": 56
										}
									},
									{
										"source": {
											"path": "[['id']"
										},
										"sink": {
											"type": "String",
											"ordinal": 57
										}
									},
									{
										"source": {
											"path": "$['continuationToken']"
										},
										"sink": {
											"type": "String",
											"ordinal": 58
										}
									}
								],
								"collectionReference": "$['value']",
								"mapComplexValuesToString": true
							}
						},
						"inputs": [
							{
								"referenceName": "activitiesJSAON",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "activitiesPIPE",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "copyActivitiesPIPE",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "copyActivitiesJSON",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table [adf].[ADF_ACTIVITES]",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 1
										},
										"sink": {
											"name": "Column1",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 2
										},
										"sink": {
											"name": "Column2",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 3
										},
										"sink": {
											"name": "Column3",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 4
										},
										"sink": {
											"name": "Column4",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 5
										},
										"sink": {
											"name": "Column5",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 6
										},
										"sink": {
											"name": "Column6",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 7
										},
										"sink": {
											"name": "Column7",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 8
										},
										"sink": {
											"name": "Column8",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 9
										},
										"sink": {
											"name": "Column9",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 10
										},
										"sink": {
											"name": "Column10",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 11
										},
										"sink": {
											"name": "Column11",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 12
										},
										"sink": {
											"name": "Column12",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 13
										},
										"sink": {
											"name": "Column13",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 14
										},
										"sink": {
											"name": "Column14",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 15
										},
										"sink": {
											"name": "Column15",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 16
										},
										"sink": {
											"name": "Column16",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 17
										},
										"sink": {
											"name": "Column17",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 18
										},
										"sink": {
											"name": "Column18",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 19
										},
										"sink": {
											"name": "Column19",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 20
										},
										"sink": {
											"name": "Column20",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 21
										},
										"sink": {
											"name": "Column21",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 22
										},
										"sink": {
											"name": "Column22",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 23
										},
										"sink": {
											"name": "Column23",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 24
										},
										"sink": {
											"name": "Column24",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 25
										},
										"sink": {
											"name": "Column25",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 26
										},
										"sink": {
											"name": "Column26",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 27
										},
										"sink": {
											"name": "Column27",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 28
										},
										"sink": {
											"name": "Column28",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 29
										},
										"sink": {
											"name": "Column29",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 30
										},
										"sink": {
											"name": "Column30",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 31
										},
										"sink": {
											"name": "Column31",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 32
										},
										"sink": {
											"name": "Column32",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 33
										},
										"sink": {
											"name": "Column33",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 34
										},
										"sink": {
											"name": "Column34",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 35
										},
										"sink": {
											"name": "Column35",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 36
										},
										"sink": {
											"name": "Column36",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 37
										},
										"sink": {
											"name": "Column37",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 38
										},
										"sink": {
											"name": "Column38",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 39
										},
										"sink": {
											"name": "Column39",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 40
										},
										"sink": {
											"name": "Column40",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 41
										},
										"sink": {
											"name": "Column41",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 42
										},
										"sink": {
											"name": "Column42",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 43
										},
										"sink": {
											"name": "Column43",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 44
										},
										"sink": {
											"name": "Column44",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 45
										},
										"sink": {
											"name": "Column45",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 46
										},
										"sink": {
											"name": "Column46",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 47
										},
										"sink": {
											"name": "Column47",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 48
										},
										"sink": {
											"name": "Column48",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 49
										},
										"sink": {
											"name": "Column49",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 50
										},
										"sink": {
											"name": "Column50",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 51
										},
										"sink": {
											"name": "Column51",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 52
										},
										"sink": {
											"name": "Column52",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 53
										},
										"sink": {
											"name": "Column53",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 54
										},
										"sink": {
											"name": "Column54",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 55
										},
										"sink": {
											"name": "Column55",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 56
										},
										"sink": {
											"name": "Column56",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 57
										},
										"sink": {
											"name": "Column57",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"physicalType": "String",
											"ordinal": 58
										},
										"sink": {
											"name": "Column58",
											"type": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "activitiesPIPE",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ADF_ACTIVITIES",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "ADF"
				},
				"annotations": [],
				"lastPublishTime": "2020-08-26T20:00:05Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyDatasets')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "MergeFiles"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['id']"
										},
										"sink": {
											"name": "id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['name']"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['type']"
										},
										"sink": {
											"name": "type",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['properties']['linkedServiceName']['referenceName']"
										},
										"sink": {
											"name": "LS_referenceName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['properties']['linkedServiceName']['type']"
										},
										"sink": {
											"name": "LS_type",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['properties']['folder']['name']"
										},
										"sink": {
											"name": "folder_name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['properties']['type']"
										},
										"sink": {
											"name": "folder_type",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['properties']['typeProperties']['location']['type']"
										},
										"sink": {
											"name": "location_type"
										}
									},
									{
										"source": {
											"path": "[['properties']['typeProperties']['location']['fileName']"
										},
										"sink": {
											"name": "fileName"
										}
									},
									{
										"source": {
											"path": "[['properties']['typeProperties']['location']['folderPath']"
										},
										"sink": {
											"name": "folderPath"
										}
									},
									{
										"source": {
											"path": "[['properties']['typeProperties']['location']['fileSystem']"
										},
										"sink": {
											"name": "fileSystem"
										}
									},
									{
										"source": {
											"path": "[['properties']['typeProperties']['compressionCodec']"
										},
										"sink": {
											"name": "compressionCodec"
										}
									},
									{
										"source": {
											"path": "[['properties']['schema'][0]['name']"
										},
										"sink": {
											"name": "schema_name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['properties']['schema'][0]['type']"
										},
										"sink": {
											"name": "schema_type",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['etag']"
										},
										"sink": {
											"name": "etag",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['nextLink']"
										},
										"sink": {
											"name": "nextLink",
											"type": "String"
										}
									}
								],
								"collectionReference": "$['value']",
								"mapComplexValuesToString": true
							}
						},
						"inputs": [
							{
								"referenceName": "Json1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DelimitedText2",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy data2",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "id",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "type",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LS_referenceName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LS_referenceName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LS_type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LS_type",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "folder_name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "folder_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "folder_items",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "folder_items",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "folder_type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "folder_type",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "location_type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "location_type",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "fileName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "fileName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "folderPath",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "folderPath",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "fileSystem",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "fileSystem",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "compressionCodec",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "compressionCodec",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "schema_name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "schema_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "schema_type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "schema_type",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "etag",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "etag",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "nextLink",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "nextLink",
											"type": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DelimitedText2",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "CTH_Dataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "ADF"
				},
				"annotations": [],
				"lastPublishTime": "2020-09-03T20:30:37Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DynamicMapping')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "dynamicMapping",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Lookup_name",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"value": "@json(activity('Lookup_name').output.firstRow.json_output)",
								"type": "Expression"
							}
						},
						"inputs": [
							{
								"referenceName": "datasetnames",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "boohoo",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Lookup_name",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[adf].[pc_getColumnMapping]",
								"storedProcedureParameters": {
									"schema_name": {
										"type": "String",
										"value": "adf"
									},
									"table_name": {
										"type": "String",
										"value": "datasetnames"
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "src_chanley",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "ADF"
				},
				"annotations": [],
				"lastPublishTime": "2020-09-03T20:30:40Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/datasetnames')]",
				"[concat(variables('factoryId'), '/datasets/boohoo')]",
				"[concat(variables('factoryId'), '/datasets/src_chanley')]"
			]
		}
	]
}