chanleydf/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "chanleydf"
		},
		"AzureBlobStorage1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage1'"
		},
		"Names_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Names'"
		},
		"chanley54Synapse_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'chanley54Synapse'"
		},
		"chanleysvc_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'chanleysvc'"
		},
		"miscparquest_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'miscparquest'"
		},
		"miscparquest_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://chanleysg.dfs.core.windows.net"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Names')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('Names_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/chanley54Synapse')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('chanley54Synapse_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/chanleysvc')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('chanleysvc_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/miscparquest')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('miscparquest_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('miscparquest_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/BellTarget')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "bell",
						"container": "chanleyblob"
					},
					"columnDelimiter": "\t",
					"escapeChar": "",
					"firstRowAsHeader": true,
					"nullValue": "\\n",
					"quoteChar": ""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Name.txt",
						"container": "chanleyblob"
					},
					"columnDelimiter": ",",
					"escapeChar": "",
					"firstRowAsHeader": true,
					"quoteChar": ""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "TechCrunchcontinentalUSA.csv",
						"container": "chanleyblob"
					},
					"columnDelimiter": ",",
					"escapeChar": "",
					"firstRowAsHeader": true,
					"quoteChar": ""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/UserDataDS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "chanleysvc",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "registration_dttm",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "first_name",
						"type": "nvarchar"
					},
					{
						"name": "last_name",
						"type": "nvarchar"
					},
					{
						"name": "email",
						"type": "nvarchar"
					},
					{
						"name": "gender",
						"type": "nvarchar"
					},
					{
						"name": "ip_address",
						"type": "nvarchar"
					},
					{
						"name": "cc",
						"type": "nvarchar"
					},
					{
						"name": "country",
						"type": "nvarchar"
					},
					{
						"name": "birthdate",
						"type": "nvarchar"
					},
					{
						"name": "salary",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "title",
						"type": "nvarchar"
					},
					{
						"name": "comments",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "userdata"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/chanleysvc')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/UserDataParquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "parquet",
						"container": "chanleyblob"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "registration_dttm",
						"type": "INT96"
					},
					{
						"name": "id",
						"type": "INT32"
					},
					{
						"name": "first_name",
						"type": "UTF8"
					},
					{
						"name": "last_name",
						"type": "UTF8"
					},
					{
						"name": "email",
						"type": "UTF8"
					},
					{
						"name": "gender",
						"type": "UTF8"
					},
					{
						"name": "ip_address",
						"type": "UTF8"
					},
					{
						"name": "cc",
						"type": "UTF8"
					},
					{
						"name": "country",
						"type": "UTF8"
					},
					{
						"name": "birthdate",
						"type": "UTF8"
					},
					{
						"name": "salary",
						"type": "DOUBLE"
					},
					{
						"name": "title",
						"type": "UTF8"
					},
					{
						"name": "comments",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/chanleyds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "chanleysvc",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Business_Unit",
						"type": "float",
						"precision": 15
					},
					{
						"name": "Company_Description",
						"type": "nvarchar"
					},
					{
						"name": "Empl_ID",
						"type": "float",
						"precision": 15
					},
					{
						"name": "Empl_Rec_No",
						"type": "float",
						"precision": 15
					},
					{
						"name": "Job_Row_Effective_Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Job_Row_Eff_Seq",
						"type": "float",
						"precision": 15
					},
					{
						"name": "Action",
						"type": "nvarchar"
					},
					{
						"name": "Action_Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Reason_Code",
						"type": "nvarchar"
					},
					{
						"name": "Reason_Desc",
						"type": "nvarchar"
					},
					{
						"name": "Department_ID",
						"type": "nvarchar"
					},
					{
						"name": "Dept_Description",
						"type": "nvarchar"
					},
					{
						"name": "Job_Code_Description",
						"type": "nvarchar"
					},
					{
						"name": "Job_Entry_Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Work_Location",
						"type": "float",
						"precision": 15
					},
					{
						"name": "Work_Location_Desc",
						"type": "nvarchar"
					},
					{
						"name": "Reporting_Location",
						"type": "float",
						"precision": 15
					},
					{
						"name": "Reporting_Location_Desc",
						"type": "nvarchar"
					},
					{
						"name": "Pay_Group",
						"type": "nvarchar"
					},
					{
						"name": "Position_Number",
						"type": "nvarchar"
					},
					{
						"name": "Position_Description",
						"type": "nvarchar"
					},
					{
						"name": "Position_Entry_Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Primary_Job",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "userdata"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/chanleysvc')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/chanleytgr')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "chanleysvc",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "registration_dttm",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "first_name",
						"type": "nvarchar"
					},
					{
						"name": "last_name",
						"type": "nvarchar"
					},
					{
						"name": "email",
						"type": "nvarchar"
					},
					{
						"name": "gender",
						"type": "nvarchar"
					},
					{
						"name": "ip_address",
						"type": "nvarchar"
					},
					{
						"name": "cc",
						"type": "nvarchar"
					},
					{
						"name": "country",
						"type": "nvarchar"
					},
					{
						"name": "birthdate",
						"type": "nvarchar"
					},
					{
						"name": "salary",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "title",
						"type": "nvarchar"
					},
					{
						"name": "comments",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "",
					"table": ""
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/chanleysvc')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_chanley54_synapse')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "chanley54Synapse",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [],
				"typeProperties": {
					"schema": "etl",
					"table": "userdata"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/chanley54Synapse')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pqTraffic')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "pems_sorted/station=402260",
						"container": "chanleyblob"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "timeperiod",
						"type": "UTF8"
					},
					{
						"name": "flow1",
						"type": "INT32"
					},
					{
						"name": "occupancy1",
						"type": "DOUBLE"
					},
					{
						"name": "speed1",
						"type": "DOUBLE"
					},
					{
						"name": "flow2",
						"type": "INT32"
					},
					{
						"name": "occupancy2",
						"type": "DOUBLE"
					},
					{
						"name": "speed2",
						"type": "DOUBLE"
					},
					{
						"name": "flow3",
						"type": "INT32"
					},
					{
						"name": "occupancy3",
						"type": "DOUBLE"
					},
					{
						"name": "speed3",
						"type": "DOUBLE"
					},
					{
						"name": "flow4",
						"type": "INT32"
					},
					{
						"name": "occupancy4",
						"type": "DOUBLE"
					},
					{
						"name": "speed4",
						"type": "DOUBLE"
					},
					{
						"name": "flow5",
						"type": "INT32"
					},
					{
						"name": "occupancy5",
						"type": "DOUBLE"
					},
					{
						"name": "speed5",
						"type": "DOUBLE"
					},
					{
						"name": "flow6",
						"type": "INT32"
					},
					{
						"name": "occupancy6",
						"type": "DOUBLE"
					},
					{
						"name": "speed6",
						"type": "DOUBLE"
					},
					{
						"name": "flow7",
						"type": "INT32"
					},
					{
						"name": "occupancy7",
						"type": "DOUBLE"
					},
					{
						"name": "speed7",
						"type": "DOUBLE"
					},
					{
						"name": "flow8",
						"type": "INT32"
					},
					{
						"name": "occupancy8",
						"type": "DOUBLE"
					},
					{
						"name": "speed8",
						"type": "DOUBLE"
					},
					{
						"name": "station",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sqlTraffic')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "chanleysvc",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "traffic"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/chanleysvc')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_name')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "chanleysvc",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "First_Name",
						"type": "varchar"
					},
					{
						"name": "Last_Name",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Names"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/chanleysvc')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/src_DateRange')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "chanleysvc",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "DATE_KEY",
						"type": "varchar"
					},
					{
						"name": "DateId",
						"type": "bigint",
						"precision": 19
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "DateRanges"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/chanleysvc')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/traffic')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "part-r-00000-ddaee723-f3f6-4f25-a34b-3312172aa6d7.snappy.parquet",
						"container": "chanleyblob"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "timeperiod",
						"type": "UTF8"
					},
					{
						"name": "flow1",
						"type": "INT32"
					},
					{
						"name": "occupancy1",
						"type": "DOUBLE"
					},
					{
						"name": "speed1",
						"type": "DOUBLE"
					},
					{
						"name": "flow2",
						"type": "INT32"
					},
					{
						"name": "occupancy2",
						"type": "DOUBLE"
					},
					{
						"name": "speed2",
						"type": "DOUBLE"
					},
					{
						"name": "flow3",
						"type": "INT32"
					},
					{
						"name": "occupancy3",
						"type": "DOUBLE"
					},
					{
						"name": "speed3",
						"type": "DOUBLE"
					},
					{
						"name": "flow4",
						"type": "INT32"
					},
					{
						"name": "occupancy4",
						"type": "DOUBLE"
					},
					{
						"name": "speed4",
						"type": "DOUBLE"
					},
					{
						"name": "flow5",
						"type": "INT32"
					},
					{
						"name": "occupancy5",
						"type": "DOUBLE"
					},
					{
						"name": "speed5",
						"type": "DOUBLE"
					},
					{
						"name": "flow6",
						"type": "INT32"
					},
					{
						"name": "occupancy6",
						"type": "DOUBLE"
					},
					{
						"name": "speed6",
						"type": "DOUBLE"
					},
					{
						"name": "flow7",
						"type": "INT32"
					},
					{
						"name": "occupancy7",
						"type": "DOUBLE"
					},
					{
						"name": "speed7",
						"type": "DOUBLE"
					},
					{
						"name": "flow8",
						"type": "INT32"
					},
					{
						"name": "occupancy8",
						"type": "DOUBLE"
					},
					{
						"name": "speed8",
						"type": "DOUBLE"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AsBuilt')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "parquet_to_bell",
						"description": " ",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "delete_bell",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*.parquet",
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "registration_dttm",
											"type": "DateTime"
										},
										"sink": {
											"name": "registration_dttm",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "id",
											"type": "Int32"
										},
										"sink": {
											"name": "id",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "first_name",
											"type": "String"
										},
										"sink": {
											"name": "first_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "last_name",
											"type": "String"
										},
										"sink": {
											"name": "last_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "email",
											"type": "String"
										},
										"sink": {
											"name": "email",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "gender",
											"type": "String"
										},
										"sink": {
											"name": "gender",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ip_address",
											"type": "String"
										},
										"sink": {
											"name": "ip_address",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "cc",
											"type": "String"
										},
										"sink": {
											"name": "cc",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "country",
											"type": "String"
										},
										"sink": {
											"name": "country",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "birthdate",
											"type": "String"
										},
										"sink": {
											"name": "birthdate",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "salary",
											"type": "Double"
										},
										"sink": {
											"name": "salary",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "title",
											"type": "String"
										},
										"sink": {
											"name": "title",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "comments",
											"type": "String"
										},
										"sink": {
											"name": "comments",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "UserDataParquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "BellTarget",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "delete_bell",
						"description": "Delete bell files",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "trunc_user_data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "BellTarget",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"wildcardFileName": "*.txt"
							}
						}
					},
					{
						"name": "Ingestbell",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "parquet_to_bell",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*.txt",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "BellTarget",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "chanleyds",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "trunc_user_data",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[trunc_userdata]"
						},
						"linkedServiceName": {
							"referenceName": "chanleysvc",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/UserDataParquet')]",
				"[concat(variables('factoryId'), '/datasets/BellTarget')]",
				"[concat(variables('factoryId'), '/datasets/chanleyds')]",
				"[concat(variables('factoryId'), '/linkedServices/chanleysvc')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/copyuserdata')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "UserDataParquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_chanley54_synapse",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/UserDataParquet')]",
				"[concat(variables('factoryId'), '/datasets/ds_chanley54_synapse')]"
			]
		}
	]
}