pipeline/address.json
{
	"name": "address",
	"properties": {
		"activities": [
			{
				"name": "Address",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "backup",
						"type": "DatasetReference",
						"parameters": {
							"dir_name": "chanleyblob",
							"subfolder": "backup"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Address",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Address').output.childitems",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "chanley"
		},
		"annotations": []
	}
}