pipeline/address.json
{
	"name": "address",
	"properties": {
		"activities": [
			{
				"name": "Address",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "backup",
						"type": "DatasetReference",
						"parameters": {
							"dir_name": "chanleyblob",
							"subfolder": {
								"value": "@pipeline().parameters.subfolder",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "foldername",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('foldername').output.Value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "df_address",
							"type": "ExecuteDataFlow",
							"dependsOn": [
								{
									"activity": "filename",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "1.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "df_address",
									"type": "DataFlowReference",
									"parameters": {
										"filename": {
											"value": "'@{item().name}'",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"address": {
											"directory": "chanleyblob",
											"subdirectory": "backup/20220209",
											"filename": "addresses_20220209.csv"
										},
										"addressstream": {
											"schema": "dbo",
											"tablename": "address"
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						},
						{
							"name": "getfilename",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "backup",
									"type": "DatasetReference",
									"parameters": {
										"dir_name": "chanleyblob/backup/20220209",
										"subfolder": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"itemName"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "filename",
							"type": "Filter",
							"dependsOn": [
								{
									"activity": "getfilename",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"items": {
									"value": "@activity('getfilename').output.childitems",
									"type": "Expression"
								},
								"condition": {
									"value": "@equals(item().type, 'File')",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "foldername",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Address",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Address').output.childitems",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().type, 'Folder')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"subfolder": {
				"type": "string",
				"defaultValue": "backup"
			}
		},
		"folder": {
			"name": "chanley"
		},
		"annotations": []
	}
}