chanleydf/PartialArmTemplates/ArmTemplate_9_3_2020_16_30_42.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "chanleydf"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/CopyDatasets')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "MergeFiles"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['id']"
										},
										"sink": {
											"name": "id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['name']"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['type']"
										},
										"sink": {
											"name": "type",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['properties']['linkedServiceName']['referenceName']"
										},
										"sink": {
											"name": "LS_referenceName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['properties']['linkedServiceName']['type']"
										},
										"sink": {
											"name": "LS_type",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['properties']['folder']['name']"
										},
										"sink": {
											"name": "folder_name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['properties']['type']"
										},
										"sink": {
											"name": "folder_type",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['properties']['typeProperties']['location']['type']"
										},
										"sink": {
											"name": "location_type"
										}
									},
									{
										"source": {
											"path": "[['properties']['typeProperties']['location']['fileName']"
										},
										"sink": {
											"name": "fileName"
										}
									},
									{
										"source": {
											"path": "[['properties']['typeProperties']['location']['folderPath']"
										},
										"sink": {
											"name": "folderPath"
										}
									},
									{
										"source": {
											"path": "[['properties']['typeProperties']['location']['fileSystem']"
										},
										"sink": {
											"name": "fileSystem"
										}
									},
									{
										"source": {
											"path": "[['properties']['typeProperties']['compressionCodec']"
										},
										"sink": {
											"name": "compressionCodec"
										}
									},
									{
										"source": {
											"path": "[['properties']['schema'][0]['name']"
										},
										"sink": {
											"name": "schema_name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['properties']['schema'][0]['type']"
										},
										"sink": {
											"name": "schema_type",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['etag']"
										},
										"sink": {
											"name": "etag",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['nextLink']"
										},
										"sink": {
											"name": "nextLink",
											"type": "String"
										}
									}
								],
								"collectionReference": "$['value']",
								"mapComplexValuesToString": true
							}
						},
						"inputs": [
							{
								"referenceName": "Json1",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DelimitedText2",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy data2",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "id",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "type",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LS_referenceName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LS_referenceName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LS_type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LS_type",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "folder_name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "folder_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "folder_items",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "folder_items",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "folder_type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "folder_type",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "location_type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "location_type",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "fileName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "fileName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "folderPath",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "folderPath",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "fileSystem",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "fileSystem",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "compressionCodec",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "compressionCodec",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "schema_name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "schema_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "schema_type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "schema_type",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "etag",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "etag",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "nextLink",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "nextLink",
											"type": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DelimitedText2",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "CTH_Dataset",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "ADF"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Json1')]",
				"[concat(variables('factoryId'), '/datasets/DelimitedText2')]",
				"[concat(variables('factoryId'), '/datasets/CTH_Dataset')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DynamicMapping')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "dynamicMapping",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Lookup_name",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"value": "@json(activity('Lookup_name').output.firstRow.json_output)",
								"type": "Expression"
							}
						},
						"inputs": [
							{
								"referenceName": "datasetnames",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "boohoo",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Lookup_name",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[adf].[pc_getColumnMapping]",
								"storedProcedureParameters": {
									"schema_name": {
										"type": "String",
										"value": "adf"
									},
									"table_name": {
										"type": "String",
										"value": "datasetnames"
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "src_chanley",
								"type": "DatasetReference"
							}
						}
					}
				],
				"folder": {
					"name": "ADF"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/datasetnames')]",
				"[concat(variables('factoryId'), '/datasets/boohoo')]",
				"[concat(variables('factoryId'), '/datasets/src_chanley')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CTH_Dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "chanleysvc",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "adf",
					"table": "CTH_Dataset"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "jsonstorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "datasetpipe.txt",
						"folderPath": "json",
						"fileSystem": "chanleyblob"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Json1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "jsonstorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "DataSets.json",
						"folderPath": "json",
						"fileSystem": "chanleyblob"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"value": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"id": {
										"type": "string"
									},
									"name": {
										"type": "string"
									},
									"type": {
										"type": "string"
									},
									"properties": {
										"type": "object",
										"properties": {
											"linkedServiceName": {
												"type": "object",
												"properties": {
													"referenceName": {
														"type": "string"
													},
													"type": {
														"type": "string"
													}
												}
											},
											"folder": {
												"type": "object",
												"properties": {
													"name": {
														"type": "string"
													}
												}
											},
											"annotations": {
												"type": "array"
											},
											"type": {
												"type": "string"
											},
											"typeProperties": {
												"type": "object",
												"properties": {
													"location": {
														"type": "object",
														"properties": {
															"type": {
																"type": "string"
															},
															"fileName": {
																"type": "string"
															},
															"folderPath": {
																"type": "string"
															},
															"fileSystem": {
																"type": "string"
															}
														}
													},
													"compressionCodec": {
														"type": "string"
													}
												}
											},
											"schema": {
												"type": "array",
												"items": {
													"type": "object",
													"properties": {
														"name": {
															"type": "string"
														},
														"type": {
															"type": "string"
														}
													}
												}
											}
										}
									},
									"etag": {
										"type": "string"
									}
								}
							}
						},
						"nextLink": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Json2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "jsonstorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "blah.json",
						"folderPath": "json",
						"fileSystem": "chanleyblob"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"value": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"id": {
										"type": "string"
									},
									"name": {
										"type": "string"
									},
									"type": {
										"type": "string"
									},
									"properties": {
										"type": "object",
										"properties": {
											"linkedServiceName": {
												"type": "object",
												"properties": {
													"referenceName": {
														"type": "string"
													},
													"type": {
														"type": "string"
													}
												}
											},
											"folder": {
												"type": "object",
												"properties": {
													"name": {
														"type": "string"
													}
												}
											},
											"annotations": {
												"type": "array"
											},
											"type": {
												"type": "string"
											},
											"typeProperties": {
												"type": "object",
												"properties": {
													"location": {
														"type": "object",
														"properties": {
															"type": {
																"type": "string"
															},
															"fileName": {
																"type": "string"
															},
															"folderPath": {
																"type": "string"
															},
															"fileSystem": {
																"type": "string"
															}
														}
													},
													"compressionCodec": {
														"type": "string"
													}
												}
											},
											"schema": {
												"type": "array",
												"items": {
													"type": "object",
													"properties": {
														"name": {
															"type": "string"
														},
														"type": {
															"type": "string"
														}
													}
												}
											}
										}
									},
									"etag": {
										"type": "string"
									}
								}
							}
						},
						"nextLink": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/boohoo')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "jsonstorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "boohoo.txt",
						"folderPath": "json",
						"fileSystem": "chanleyblob"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/datasetnames')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "jsonstorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "datasetnames.json",
						"folderPath": "json",
						"fileSystem": "chanleyblob"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"id": {
							"type": "string"
						},
						"name": {
							"type": "string"
						},
						"type": {
							"type": "string"
						},
						"properties": {
							"type": "object",
							"properties": {
								"linkedServiceName": {
									"type": "object",
									"properties": {
										"referenceName": {
											"type": "string"
										},
										"type": {
											"type": "string"
										}
									}
								},
								"annotations": {
									"type": "array"
								},
								"type": {
									"type": "string"
								},
								"schema": {
									"type": "array",
									"items": {
										"type": "object",
										"properties": {
											"name": {
												"type": "string"
											},
											"type": {
												"type": "string"
											}
										}
									}
								},
								"typeProperties": {
									"type": "object",
									"properties": {
										"schema": {
											"type": "string"
										},
										"table": {
											"type": "string"
										}
									}
								}
							}
						},
						"etag": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/src_chanley')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "chanleysvc",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": []
			},
			"dependsOn": []
		}
	]
}