azuretraining/pipeline/metadatab3c0c554-fb5b-41b4-b658-ddffd95276ce.json
{
	"name": "metadatab3c0c554-fb5b-41b4-b658-ddffd95276ce",
	"properties": {
		"activities": [
			{
				"name": "mymeta",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Parquet1",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "mymeta",
						"dependencyConditions": [
							"Skipped"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('mymeta').output.childitems",
						"type": "Expression"
					},
					"batchCount": 4,
					"activities": [
						{
							"name": "pc_LoadLakeTable",
							"description": "pc_LoadLakeTable",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "meta_inner",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[pc_LoadLakeTable]",
								"storedProcedureParameters": {
									"ItemChild": {
										"value": {
											"value": "@activity('meta_inner').output.itemName",
											"type": "Expression"
										},
										"type": "String"
									},
									"ItemDate": {
										"value": {
											"value": "@activity('meta_inner').output.lastModified",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"ItemName": {
										"value": {
											"value": "@activity('meta_inner').output.itemName",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "chanleysvc",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "meta_inner",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "meta",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"itemName",
									"lastModified"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								}
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}