azuretraining/pipeline/metadata.json
{
	"name": "metadata",
	"properties": {
		"activities": [
			{
				"name": "mymeta",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Parquet1",
						"type": "DatasetReference"
					},
					"fieldList": [
						"itemName",
						"childItems",
						"lastModified"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "mymeta",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('mymeta').output.childitems",
						"type": "Expression"
					},
					"batchCount": 4
				}
			}
		],
		"annotations": []
	}
}